body {
  background-color: lightgoldenrodyellow;
}

#welcome {
  height: 400px;
  background-image: url('sailboat.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
