body {
  background-color: lightgoldenrodyellow;
  color: rgb(50, 50, 50);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
}

#welcome {
  height: 400px;
  background-image: url('/images/sailboat.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.hero {
  width: 300px;
  display: inline-block;
}

.hero img {
  height: 200px;
}
